.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
body{
    background-color: bisque;
}

.button{
    border-radius: 3px;
    padding: 10px 20px;
    background-color: aqua;
    text-decoration: none;
    opacity: .85;
    text-align: center;
}
.button:hover{
    text-decoration: underline;
    opacity: 1;
}
.buttons{
    margin-top: 50px;
    text-align: center; 
}