body{
    background-color: bisque;
}
.head{
    text-align: center;
}

.menu{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
}
.links{
    padding: 10px 20px;
    color: white;
    background-color: #3498db;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.links:hover {
    background-color: #2980b9;
}
